[Unit]
Description=cloudflared
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=15
Type=simple
ExecStart=/usr/bin/cloudflared tunnel \
  --edge-ip-version 4 \
  --protocol http2 \
  --loglevel warn \
  --no-autoupdate \
  run \
  --token __CLOUDFLARED_TOKEN__
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
